<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>WeatherServlet</servlet-name>
    <servlet-class>com.nextwork.app.WeatherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>WeatherServlet</servlet-name>
    <url-pattern>/weather</url-pattern>
  </servlet-mapping>
</web-app>